// sidebar
$menuText:#8794AE;
$menuActiveText:#495ABF;
$subMenuActiveText:#495ABF; // https://github.com/ElemeFE/element/issues/12951
$menuBg:#fff;
$menuHover:rgba(245, 246, 251, 1);
$subMenuBg:#fff;
$subMenuHover:rgba(245, 246, 251, 1);
$sideBarWidth: 170px;
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
